/* RESET */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

/* UTILITIES */
.bg-green {
    background-color: #2f865a;
}

.bg-red {
    background-color: #de0a39;
}

.linethrough {
    text-decoration: line-through;
}

/* CONTAINER */
.container {
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    max-width: 1280px;
    text-align: center;
}

.card {
    cursor: pointer;
    margin-left: 8px;
    display: inline-block;
    width: calc((100% / 3) - 5%);
}

.card img {
    width: 100%;
}

.card-header {
    position: relative;
}

.card-button {
    right: 0;
    top: 16px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    font-weight: 800;
    line-height: 32px;
    position: absolute;
    background-color: #ffffff;
}

.card-badges {
    left: 0;
    bottom: 32px;
    position: absolute;
}

.card-badges .badge {
    color: white;
    font-size: 14px;
    padding: 4px 8px;
    margin-left: 2px;
    font-weight: 600;
}

.card-info {
    text-align: left;
}

.card-info > span:first-child {
    font-size: 14px;
    line-height: 16px;
}

.card-info h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.card-info > div {
    padding: 4px 0;
    font-size: 14px;
    line-height: 20px;
}

.card-info .price {
    color: #de0a39;
    font-weight: 600;
    margin-right: 8px;
}
